<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mealProject.mapper.MemberMapper">
    
    <select id="findAll" resultType="com.mealProject.model.MemberModel">
        SELECT * FROM member order by memberNO
    </select>
    <select id="findByName" resultType="com.mealProject.model.MemberModel">
        SELECT * FROM member WHERE memberName = #{memberName}
    </select>
    <select id="findByMember" resultType="com.mealProject.model.MemberModel">
       select * from member where memberNO=#{memberNO}
    </select>
     <select id="menuAll" resultType="com.mealProject.model.MenuModel">
        SELECT * FROM menu order by menuNO
    </select>
    
    <select id="menuFind" resultType="com.mealProject.model.MenuModel">
        SELECT * FROM menu WHERE menuName = #{menuName}
    </select>
    
    <select id="mealAll" resultType="com.mealProject.model.MealModel">
        SELECT * FROM meal order by mealNO
    </select>
    
    <!-- meal 숫자 하나씩 넣어주는거 -->
    <select id="mealFind" resultType="com.mealProject.model.MealModel">
        SELECT * FROM meal WHERE menuNo = #{menuNo}
    </select>
    
    <select id="orderAll" resultType="com.mealProject.model.OrderListModel">
        SELECT * FROM orderlist order by orderNo
    </select>
    <select id="AllOrderlist" resultType="com.mealProject.model.OrderListModel2">
        select meal.menuNo,meal.mealName,member.memberName,orderCount,amount,orderDate from orderlist
        INNER JOIN member on orderlist.memberNo = member.memberNo JOIN meal on orderlist.mealNo = meal.mealNo
    </select>
    
    <select id="AllOrderitem" resultType="com.mealProject.model.OrderListModel2">
       select meal.menuNo,meal.mealName,member.memberName,orderCount,amount,orderDate from orderlist
				INNER JOIN member on orderlist.memberNo = member.memberNo
				JOIN meal on orderlist.mealNo = meal.mealNo
				where meal.mealName like CONCAT('%',#{menuName},'%')
    </select>
    <select id="mealShow" resultType="com.mealProject.model.MealModel">
       select mealNo,price from meal where mealName=#{menuNo}
    </select>
    <select id="mealCount" resultType="Integer">
       select count(*) from meal where menuNo=#{menuNo}
    </select>
     <select id="memberCount" resultType="Integer">
       select max(memberNo) from member
    </select>
    
   <delete id ="delete">
	delete from meal where mealName=#{param1}
</delete>
<update id="update">
update meal set todayMeal=1 where mealName=#{param1}
</update>
<update id="updateZero">
update meal set todayMeal=0 where mealNo=#{param1}
</update>
<insert id="mealInsert">
INSERT INTO meal(menuNo,mealName,price,maxCount,todayMeal) VALUES(#{menuNo},#{mealName},#{price},#{maxCount},#{todayMeal})
    </insert>
    
 <update id="updateMeal">
	update meal set price=#{price},maxCount=#{maxCount} where mealName=#{mealName}
</update>
       
<insert id="insertSawon" parameterType="MemberModel">
	insert into member(memberName,passwd) values(#{memberName},#{passwd})
</insert>

</mapper>





